<p id="notice"><%= notice %></p>
<p>
  <strong>Branch name:</strong>
  <%= @branch.branch_name %>
</p>

<p>
  <strong>Branch address:</strong>
  <%= @branch.branch_address %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @branch.phoneno %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
