<aside class="main-sidebar" style ="margin-top:20px; ">
    <section class="sidebar" >      <!-- Sidebar user panel -->
      <ul class="sidebar-menu">
    

     <li class=" active treeview">
         <%= link_to  home_index_path do %>
            <i class="fa fa-home" style ="color:white;font-size:16px" ></i>
            <b>Home</b>
          </li>
          <% end %>

       <li class="  treeview">
         <%= link_to  workstaions_path do %>
            <i class="fa fa-institution"  style ="color:white;"></i>
            <b>Workstation</b>
          </li>
          <% end %>

       <li class="treeview" style="margin-top:5px">
        <%= link_to  employes_path do %>
            <i class="fa fa-user"  style="color:white"></i>
             <b>Employes</b>
          </li>
          <% end %>

        <li class="treeview" style="margin-top:5px">
        <%= link_to  branches_path do %>
            <i class="fa fa-flag"  style="color:white"></i>
             <b >Branches</b>
        </li>
        <% end %>

        <li class="treeview" style="margin-top:5px">
         <%= link_to  designations_path do %>
            <i class="fa fa-star"  style="color:white"></i>
             <b>Designations</b>
          </li>
          <% end %>

          <li class="treeview" style="margin-top:5px">
         <%= link_to  catgories_path do %>
            <i class="fa fa-bars"  style="color:white"></i>
             <b>Categories</b>
          </li>
          <% end %>

           <li class="treeview" style="margin-top:5px"> 
         <%= link_to  ourservices_path do %>
          <i class="fa fa-shopping-cart"  style="color:white"></i>  
             <b> Services</b>
          </li>
          <% end %>

           <li class="treeview" style="margin-top:5px">
           
         <%= link_to  customers_path do %>
            <i class="fa fa-users"  style="color:white"></i>  
             <b>Customers</b>
          </li>
          <% end %>

          <li class="treeview" style="margin-top:5px">
          <%= link_to  payrequests_path do %>
            <i class="fa fa-clock-o"  style="color:white"></i>  
             <b>Paying Request</b>
          </li>
          <% end %>



     
       
        
       </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  
  
