<div class="col-md-10">
  <div class="box box-primary">
   <div class="box-body">

<%= form_for(@designation) do |f| %>
  <% if @designation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@designation.errors.count, "error") %> prohibited this designation from being saved:</h2>

      <ul>
      <% @designation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title ,class: "form-control"  ,placeholder: "Enter Name Here"%>
  </div>
  <div class="field">
    <%= f.check_box :is_active%>
    &nbsp&nbsp<%= f.label :is_active %>
  </div>

  <div class="box-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back',designations_path %>
  </div>

<% end %>
</div>
</div>
</div>
</div>