<p id="notice"><%= notice %></p>

<p>
  <strong>C name:</strong>
  <%= @customer.c_name %>
</p>

<p>
  <strong>C phoneno:</strong>
  <%= @customer.c_phoneno %>
</p>

<p>
  <strong>C email:</strong>
  <%= @customer.c_email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
